<html>
    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var brushColor = "black",
        brushWidth = 15;

    var oldImage;
    var oldCanvas;
    var oldCtx;

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);

        var oldImageArray = new Uint8ClampedArray([ {{ image }} ]);

        oldCanvas = document.getElementById('oldcan');
        oldCtx = oldCanvas.getContext("2d");
        oldImage = new ImageData(oldImageArray, 28, 28);


        oldCtx.putImageData(oldImage, 0, 0);
        oldCtx.canvas.hidden = false;
        document.getElementById('diglabel').hidden = false;
        document.getElementById('dig').hidden = false;
        document.getElementById('savebutton').hidden = false;
        //oldctx.setAttribute("hidden", "false");
        //document.getElementById("oldcanvasimg").style.border = "2px solid";
        //document.getElementById("oldcanvasimg").src = oldImage;
        //document.getElementById("oldcanvasimg").style.display = "inline";
    }


    function saveDigit() {
        const saveform = document.createElement('form');
        saveform.method='post';
        saveform.action = window.location.href;

        const smallpixels = document.createElement('input');
        smallpixels.type = 'hidden';
        smallpixels.name = 'oldimg';
        smallpixels.value = oldCanvas.toDataURL();

        const digitvalue = document.createElement('input');
        digitvalue.type = 'hidden';
        digitvalue.name = 'oldimgval';
        digitvalue.value = document.getElementById('dig').value;

        const saveaction = document.createElement('input');
        saveaction.type = 'hidden';
        saveaction.name = 'action';
        saveaction.value = 'saveimg';

        const savetype = document.createElement('input');
        savetype.type = 'hidden';
        savetype.name = 'type';
        savetype.value = '{{ type }}';

        saveform.appendChild(smallpixels);
        saveform.appendChild(digitvalue);
        saveform.appendChild(saveaction);
        saveform.appendChild(savetype);
        document.body.appendChild(saveform);
        saveform.submit();
    	//return false;
    }
    
    function erase() {
        var m = confirm("Clear image?");
        if (m) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    // Assume the input image only has information in the alpha channels.
    function imageDataToString(imgdata) {
        // The image is converted to an array.  Each pixel is converted to four array entries, representing the RGB and alpha channels, value in [0, 255].
        // Because we drew in black and white, only the alpha channel matters.
        // The result is a string of 1s and 0s: 1 for a black pixel and 0 for a white pixel.
        let output = ""
        for (let i = 0; i < imgdata.length; i += 4) {
            if (imgdata[i + 3] !=  0) {
                output += "1";
            } else {
                output += "0";
            }
        }
        return output;
    }

    function detect(type) {
        var userImage = ctx.getImageData(0,0,420,420).data;
        var userPixels = imageDataToString(userImage);


        // Send the type of model (digits vs. fashion) and the image string to the app.
        const form = document.createElement('form');
        form.method = 'post';
        form.action = window.location.href;

        const pixelField = document.createElement('input');
        pixelField.type = 'hidden';
        pixelField.name = 'pixels';
        pixelField.value = userPixels;
        
        const typeField = document.createElement('input');
        typeField.type = 'hidden';
        typeField.name = 'type';
        typeField.value = type;

        const detaction = document.createElement('input');
        detaction.type = 'hidden';
        detaction.name = 'action';
        detaction.value = 'detect';

        form.appendChild(pixelField);
        form.appendChild(typeField);
        form.appendChild(detaction);
        document.body.appendChild(form);
        form.submit();
    }


    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = brushColor;
        ctx.lineWidth = brushWidth;
        ctx.stroke();
        ctx.closePath();
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = brushColor;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    

    </script>

<!-- BODY -->

    <body onload="init()">
<div style="position:absolute; top: 5%; left: 50%; float: right"> {{ notice }} 
    
    <canvas id="oldcan" width="28" height="28" style="border:2px solid;" hidden="true"></canvas>  <label id="diglabel" for="dig" hidden="true">Label:</label>

<select name="dig" id="dig" hidden="true">
  <option value="-">-</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
</select> 
<input type="button" value="save for testing" id="savebutton" size="30" hidden="true" onclick="saveDigit()">


</div>
        <div style="position:absolute; top: 10%; left: 50%; float: right">
        
        {% for result in results %}
        
        <hr>

        The model {{ result['name'] }} thinks you have drawn a  {{ result['str'] }}  with certainty {{ result['prob'] }}%<br><br>
        
        Probabilities:<br>
        {% for key, entry in result['probs'].items() %}
            {{key}}: {{entry}}%<br>

        
        {% endfor %}

        <br>

        {% endfor %}
        
        </div>
        <canvas id="can" width="420" height="420" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="button" value="detect digit" id="btn" size="30" onclick="detect('digit')" style="position:absolute;top:70%;left:10%;">
        <input type="button" value="detect clothes" id="btn" size="30" onclick="detect('fashion')" style="position:absolute;top:70%;left:20%;">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:70%;left:30%;">
    </body>
    </html>
