__pycache__
bots/*
logs/*
writeups/*
old/*


!ttt/bots/
ttt/bots/*
!ttt/bots/dqn
ttt/bots/dqn/*
!ttt/bots/dqn/20240330180235_standard_defaults6_penalty1.dttt.pt
!ttt/bots/mcts
ttt/bots/mcts/*


!c4/bots/
c4/bots/*
!c4/bots/dqn
c4/bots/dqn/*
!c4/bots/dqn/20240329000901_continue_mll.dc4.pt
!c4/bots/mcts
c4/bots/mcts/*

!nothanks/bots/
nothanks/bots/*
!nothanks/bots/dqn
nothanks/bots/dqn/*
